﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -MovieHunter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color:black;color:white;">
    <h1 id="logo"><a href="#">MovieHunter</a></h1>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MovieHunter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse navbar-right" >
                <ul class="nav navbar-nav">
                    
                    @if (Session["Username"] != null)
                    {
                        <li><h4>Welcome @Session["Username"].ToString()</h4></li>
                    }                    

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("News", "About", "Home")</li>
                    <li>@Html.ActionLink("in theaters", "theat", "theat")</li>
                    <li>@Html.ActionLink("coming soon", "coming", "coming")</li>
                    <li>@Html.ActionLink("about", "about", "about")</li>
                </ul>               
                @Html.Partial("_LoginPartial")
                
                                              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                <p style="text-align:center;">&copy; @DateTime.Now.Year MoveHunter.com       All Rights ReservedA Project By BASEL HAJ MADOUN  (g131210095)</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
