﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<body id="shell">
    <div id="header">
        
        <a href="/" style="background: url(&#39;/Content/images/english.jpg&#39;) no-repeat center; margin-top:18px; margin-left:20px; background-size:cover; display:inline-block; height:20px; width:25px;"> </a>
        <a href="/tr" style="background: url(&#39;/Content/images/turkish.png&#39;) no-repeat center; margin-top:18px; background-size:cover; display:inline-block; height:20px; width:25px;"> </a>
        <div id="navigation">
            <ul>
                <li><a class="active" href="/?Length=4">HOME</a></li>
                <li><a href="#coming">NEWS</a></li>
                <li><a href="#">IN THEATERS</a></li>
                <li><a href="#">COMING SOON</a></li>
                <li><a href="/en/Home/About">ABOUT</a></li>
                <li><a href="#">ADVERTISE</a></li>
            </ul>
        </div>
        <div id="sub-navigation">
            <ul>
                <li><a href="#">SHOW ALL</a></li>
                <li><a href="#">LATEST TRAILERS</a></li>
                <li><a href="#">TOP RATED</a></li>
                <li><a href="#">MOST COMMENTED</a></li>
            </ul>
            <div id="search">

                <form action="/en/Home/Search?name=dilwale" method="post">
                    <label for="search-field">SEARCH</label>
                    <input type="text" name="search field" placeholder="Enter Search Here" id="search-field" class="blink search-field" />
                    <input type="submit" value=GO! class="search-button" />
                </form>
            </div>
        </div>
    </div>


    <div id="shell">
        <div id="main1">
            <div id="content1">
                <div class="box1">
                    <div class="head1">
                        <h2>LATEST TRAILERS</h2>
                        <p class="text-right"><a href="#">See All</a></p>
                    </div>

                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/bajirao.html"> </a><span class="name">Bajirao Mastani</span></span><a href="~/Views/Home/Info/bajirao.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/Bajirao-Mastani-Poster-Deepika-Padukone.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">4</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/furious.html"> </a><span class="name">Fast &amp; Furious 8</span></span><a href="~/Views/Home/Info/furious.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/furious7.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="/en/Home/Info/1031"> </a><span class="name">Star Wars VII</span></span><a href="/en/Home/Info" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie1.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"></a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">0</span>
                        </div>
                    </div>
                        -->

                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/bajrangi.html"> </a><span class="name">Bajrangi Bhaijan</span></span><a href="~/Views/Home/Info/bajrangi.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/bajrangi-bhaijaan-2015-turkce-altyazili-hd-izle-651.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/marvel.html"> </a><span class="name">X-Men</span></span><a href="~/Views/Home/Info/marvel.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie1.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/spiderman1.html"> </a><span class="name">Spider Man</span></span><a href="~/Views/Home/Info/spiderman1.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie2.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">0</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="movie-image">
                            <span class="play"><a href="~/Views/Home/Info/valkyrie.html"> </a><span class="name">Valkyrie</span></span><a href="~/Views/Home/Info/valkyrie.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie4.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>

                    <!-- spider-goes left
                    <div class="movie last">
                        <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/spiderman1.html"> </a><span class="name">Spider Man 1</span></span> <a href="~/Views/Home/Info/spiderman1.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie2.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">0</span>
                        </div>
                    </div>
                        -->

                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box1">
                    <br />

                    <!--
                    <div class="head1">
                        <h2>TOP RATED</h2>
                        <p class="text-right"><a href="#">See All</a></p>
                    </div>

                    <div class="movie">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/1030"> </a><span class="name">Bajrangi Bhaijan</span></span><a href="/en/Home/Info" style="background: url(&#39;/Content/images/bajrangi-bhaijaan-2016-turkce-altyazili-hd-izle-651.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/26"> </a><span class="name">Dilwale</span></span><a href="/en/Home/Info" style="background: url(&#39;/Content/images/Dilwale-2016-Movie-Poster-wallpaper.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/27"> </a><span class="name">Valkyrie</span></span><a href="/en/Home/Info" style="background: url(&#39;/Content/images/movie4.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/4"> </a><span class="name">Spider Man 2</span></span><a href="/en/Home/Info" style="background: url(&#39;/Content/images/movie3.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">3</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/1031"> </a><span class="name">Star Wars VII</span></span><a href="/en/Home/Info" style="background: url(&#39;/Content/images/Star Wars_l.jpg&#39;) no-repeat center right; background-size:cover; display:block; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">0</span>
                        </div>
                    </div>

                    <div class="movie last">
                        <div class="movie-image"> <span class="play"><a href="/en/Home/Info/18"> </a><span class="name">Transformers </span></span> <a href="/en/Home/Info" style="background: url(&#39;/Content/images/movie7.jpg&#39;) no-repeat center right; display:block; background-size:cover; height:214px; width:152px;"> </a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">0</span>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            -->

            <div class="box1">
                <div class="head1">
                    <h2>MOST COMMENTED</h2>
                    <p class="text-right"><a href="#">See All</a></p>
                </div>

                <div class="movie">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/angels.html"> </a><span class="name">Angels &amp; Demons</span></span><a href="~/Views/Home/Info/angels.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie12.jpg&#39;) no-repeat center right; background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">4</span>
                    </div>
                </div>

                <div class="movie">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/bajirao.html"> </a><span class="name">Bajirao Mastani</span></span><a href="~/Views/Home/Info/bajirao.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/Bajirao-Mastani-Poster-Deepika-Padukone.jpg&#39;) no-repeat center right; background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">4</span>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/marvel.html"> </a><span class="name">X-Men</span></span><a href="~/Views/Home/Info/marvel.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie1.jpg&#39;) no-repeat center right; background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">3</span>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/spiderman2.html"> </a><span class="name">Spider Man 2</span></span><a href="~/Views/Home/Info/spiderman2.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/movie3.jpg&#39;) no-repeat center right; background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">3</span>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/tigerhouse.html"> </a><span class="name">Tiger House</span></span><a href="~/Views/Home/Info/tigerhouse.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/House.jpg&#39;) no-repeat center right; background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">3</span>
                    </div>
                </div>

                <div class="movie last">
                    <div class="movie-image"> <span class="play"><a href="~/Views/Home/Info/dilwale.html"> </a><span class="name">Dilwale</span></span> <a href="~/Views/Home/Info/dilwale.html" style="background: url(&#39;http://moviehunter1.azurewebsites.net/Content/images/Dilwale-2015-Movie-Poster-wallpaper.jpg&#39;) no-repeat center right;  background-size:cover;display:block; height:214px; width:152px;"> </a> </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">3</span>
                    </div>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
        </div>



        <div class="box1">

            <div id="news">
                <div class="head1">
                    <h3>NEWS</h3>
                    <p class="text-right"><a href="#">See All</a></p>
                </div>
                <div class="content1">
                    <p class="date">12/28/2016</p>
                    <h4>Disney&#39;s A Christmas Carol</h4>
                    <p>&quot;Disney&#39;s A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&#174;-winning filmmaker Robert Zemeckis, captures... </p>
                    <a href="#">Read more</a>
                </div>
                <div class="content1">
                    <p class="date">12/21/2016</p>
                    <h4>Where the Wild Things Are</h4>
                    <p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;... </p>
                    <a href="#">Read more</a>
                </div>
                <div class="content1">
                    <p class="date">12/17/2016</p>
                    <h4>The box one</h4>
                    <p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences </p>
                    <a href="#">Read more</a>
                </div>
            </div>

            <div id="coming">
                <div class="head1">
                    <h3>COMING SOON<strong>!</strong></h3>
                    <p class="text-right"><a href="#">See All</a></p>
                </div>

                <div class="content1">
                    <h4>Fast &amp; Furious 7 </h4>

                    <P>Furious 7 (often stylized as Furious Seven and alternatively known as Fast .... Nathalie Emmanuel as Ramsey, a British computer hacktivist and the creator of the ...</P>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <br />
    </div>
    <script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>


</body>
</html>
